{% load bootstrap4 %}
<div class="card my-3">
    {% if post.image_set %}
        <div id="post{{post.id}}" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in post.image_set.all %}
                    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                        <img src="{{ image.file.url }}" class="d-block w-100" alt="{{ image.file }}">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#post{{post.id}}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#post{{post.id}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% else %}
        <img src="https://picsum.photos/600" alt="random-image" class="card-img-top" />
    {% endif %}
    <div class="card-body">
        <p class="card-text">posted by <a href="{% url 'accounts:user_detail' username=post.user.username %}">{{ post.user }}</a></p>
        <p class="card-text">{{post.content}}</p>
        {% if user == post.user %}
        <a href="{% url 'posts:update_post' post.id %}" class="btn btn-warning">수정</a>
        {% endif %}
    </div>

    <div class="card-body">
{#        <!-- 좋아요 버튼 1, 기존에 했던 방식. -->#}
{#        <form action="{% url 'posts:toggle_like' post_id=post.id %}" method="POST">#}
{#            {% csrf_token %}#}
{#            {% if user in post.like_users.all %}#}
{#                <span>총 좋아요 수:</span> <span>{{ post.like_users.all.count }}</span>#}
{#                <button type="submit" class="btn btn-danger">좋아요 취소</button>#}
{#            {% else %}#}
{#                <span>총 좋아요 수:</span> <span>{{ post.like_users.all.count }}</span>#}
{#                <button type="submit" class="btn btn-info">좋아요</button>#}
{#            {% endif %}#}
{#        </form>#}
        <!-- 좋아요 버튼 2 -->
        {% if user in post.like_users.all %}
            <i class="fas fa-thumbs-up fa-2x activate"></i>
        {% else %}
            <i class="fas fa-thumbs-up fa-2x"></i>
        {% endif %}

        <button class="like-button" data-id="{{ post.id }}" data-user="{{ post.user }}">
            {% if user in post.like_users.all %}
                안좋아요
            {% else %}
                좋아요
            {% endif %}
        </button>

        <p class="card-text"><strong>{{ post.user }}</strong> {{ post.content }}</p>
        <p class="card-text">좋아요 <span id="like-count-{{ post.id }}">{{post.like_users.count}}</span>개</p>
        <!-- 좋아요 끝 -->
    </div>


    <div class="card-body">
            {% for comment in post.comment_set.all %}
                <p class="card-text">
                    <strong>{{ comment.user.username }}</strong>: {{ comment.content }}
                </p>
            {% empty %}
                <p class="card-text">
                    댓글을 달아주세요!
                </p>
            {% endfor %}

    </div>
    <div class="card-footer">
        <form action="{% url 'posts:create_comment' post_id=post.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.content }}
            <input type="submit" class="btn btn-light">
        </form>
    </div>
</div>